/***** Some custom styles to make Material work ok *****/
[flex] {
  min-height: 0;
  min-width: 0;
  /*overflow-y: visible;*/
}

/* For md-fab button icons...they were too low */
.md-button.md-fab {
  line-height: 1 !important;
}

/* Make form labels a little darker */
md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
  color: rgba(0,0,0,0.5);
}

.logo {
  padding-left: 40px;
  background-image: url(../images/food-32.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 40px;
}

#logentry, #login {
  justify-content: center;
  display: flex;
  background-image: linear-gradient(to bottom, #00C9FF , #92FE9D);

  /*background-image: linear-gradient(to top right,#fc7279 10%, #ff7b9c 65%, #ffc019 125%);*/
  min-height: 100vh;
}

#logentry .panel {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
}
