<div ng-include="'views/templates/menu.html'"></div>
  <div flex layout="row">
    <md-content flex="20" class="md-primary md-hue-3" hide-xs style="text-align: center;">
      <img src="images/lock.png" />
    </md-content>
    <md-content flex="80" layout-padding layout-margin>

      <!-- Admins List -->
      <div ng-show="!showform">
        <div layout="row" layout-margin>
          <h2 class="md-display-1">Administrators</h2>
          <span flex class="flex"></span>
          <md-button class="md-raised md-primary" ng-click="showform = ! showform">
            <md-icon>add</md-icon>
            <span>New Admin</span>
          </md-button>
        </div>

        <div ng-repeat="row in admins">
          <div layout="row">
            <div class="md-body-2" layout-margin layout-padding flex="30">{{ row.FirstName }} {{ row.LastName }}</div>
            <div class="md-body-2" layout-margin layout-padding flex="30">{{ row.UserName }}</div>
            <div class="md-body-2" layout-margin layout-padding flex="20">Added {{ row.DateAdded | date:'MMM d, yyyy' }}</div>
            <div flex="20" layout="row">
              <md-button md-no-ink class="md-primary" ng-click="edit(row)">Edit</md-button>
              <md-button md-no-ink class="md-warn" ng-click="delete(row.id)">Delete</md-button>
            </div>
          </div>
          <md-divider></md-divider>
        </div>
      </div>

      <!-- End Admins List : Begin Admins Form -->

      <div ng-show="showform">
        <h1 class="md-display-1">{{ pagetitle }}</h1>

        <div layout="column">
          <md-input-container class="md-block">
            <label class="md-title">First Name</label>
            <input required name="firstname" class="md-subhead" type="text" ng-model="admin.FirstName" />
          </md-input-container>
          <md-input-container class="md-block">
            <label class="md-title">Last Name</label>
            <input required name="lastname" class="md-subhead" type="text" ng-model="admin.LastName" />
          </md-input-container>
          <md-input-container class="md-block">
            <label class="md-title">Email Address</label>
            <input required name="email" class="md-subhead" type="text" ng-model="admin.UserName" />
          </md-input-container>
          <md-input-container class="md-block">
            <label class="md-title">Password</label>
            <input required name="password" class="md-subhead" type="text" ng-model="admin.Password" />
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised" ng-click="reset()">Cancel</md-button>
          <md-button class="md-raised md-primary" ng-click="save()">Save Admin</md-button>
        </div>
      </div>

      <!-- End Admins Form -->
    </md-content>

  </div>
