<md-content id="login" flex>
  <div style="margin-top: 200px;">
    <img src="images/food-128.png" />
  </div>

  <div flex="50" style="margin-top: 160px;" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-display-2" layout-align="center center">Log your hours</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="column">
          <md-autocomplete
            md-menu-class="md-title"
            md-selected-item="log.Member"
            md-search-text-change="searchTextChange(searchText)"
            md-search-text="searchText"
            md-items="member in members | filter: searchText"
            md-item-text="member.FullName"
            md-min-length="0"
            placeholder="Enter your name.">
            <md-item-template>
              <span class="md-title" md-highlight-text="searchText" md-highlight-flags="^i">{{member.FirstName}} {{member.LastName}}</span>
            </md-item-template>
            <md-not-found>
              No names matching "{{ctrl.searchText}}" were found.
            </md-not-found>
          </md-autocomplete>

          <md-input-container flex="20" class="md-block">
            <label class="md-title">Number of hours</label>
            <md-select class="md-title" ng-model="log.Hours">
              <md-option ng-repeat="hr in hours" value="{{hr}}">{{ hr }} hours</md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex="40" class="md-block">
            <label class="md-title">Today I received enough food for:</label>
              <md-select class="md-title" ng-model="log.FoodAmount">
                <md-option ng-repeat="f in food" value="{{f}}">{{ f }} days</md-option>
              </md-select>
            </md-input-container>
        </div>

        <span ng-if="can_save == false" class="md-warn md-body-2"><md-icon class="md-warn">warning</md-icon> {{ save_error_message }}</span>

        <span ng-if="saved == true" class="md-primary md-body-2"><md-icon class="md-primary">check_circle</md-icon> Thanks! Your entry was saved.</span>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button ng-if="saved == false" class="md-raised md-warn" ng-click="save()">Save my hours</md-button>
      </md-card-actions>
    </md-card>
    <md-button ng-if="loggedin == false" layout-align="end center" ng-href="#/login">Admin login</md-button>
    <md-button ng-if="loggedin == true" layout-align="end center" ng-href="#/members">Administrators</md-button>
  </div>

</md-content>
