<md-content id="login" flex>
  <div flex-xs flex-gt-xs="50" style="margin-top: 160px;" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Administrator Login</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="column">
          <md-input-container class="md-block">
            <label class="md-title">Email Address</label>
            <input required name="email" class="md-subhead" type="text" ng-model="UserName" />
          </md-input-container>
          <md-input-container class="md-block">
            <label class="md-title">Password</label>
            <input required name="password" class="md-subhead" type="text" ng-model="Password" />
          </md-input-container>
          <span ng-if="login_error == true" class="md-warn md-body-2"><md-icon class="md-warn">warning</md-icon> {{ login_error_message }}</span>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="login()">Log In</md-button>
      </md-card-actions>
    </md-card>
    <md-button layout-align="end center" ng-href="#/logentry">Log Entry Screen</md-button>
  </div>

</md-content>
