<div ng-include="'views/templates/menu.html'"></div>
<div flex layout="row">
  <md-content flex="20" class="md-primary md-hue-3" hide-xs style="text-align: center;">
    <img src="images/members.png" />
  </md-content>
  <md-content flex="80" layout-padding layout-margin>
    <div layout="row" layout-margin>
      <h2 class="md-display-1">{{ member.FirstName }} {{ member.LastName }}</h2>
      <span flex class="flex"></span>
      <md-button class="md-raised" ng-href="#/members">
        <md-icon>keyboard_arrow_left</md-icon>
        <span>View All Members</span>
      </md-button>
    </div>

    <div layout="row">
      <div class="md-body-2" layout-margin layout-padding flex="50">
        Email Address: <a href="mailto:{{ member.Email }}"><strong>{{ member.Email }}</strong></a>
      </div>
      <div class="md-body-2" layout-margin layout-padding flex="50">
        City of Residence: <strong>{{ member.City }}</strong>
      </div>
    </div>

    <div layout="row">
      <div class="md-body-2" layout-margin layout-padding flex="30">
        Number of Adults: <strong>{{ member.NumberAdults }}</strong>
      </div>
      <div class="md-body-2" layout-margin layout-padding flex="30">
        Number of Children: <strong>{{ member.NumberChildren }}</strong>
      </div>
      <div class="md-body-2" layout-margin layout-padding flex="30">
        Number of Others: <strong>{{ member.NumberOthers }}</strong>
      </div>
    </div>

    <div layout="row">
      <md-checkbox class="md-body-2" ng-true-value="'Yes'" ng-disabled="true" ng-model="member.Disability" aria-label="Checkbox 1">
        Disability in family/household
      </md-checkbox>
      <md-checkbox class="md-body-2" ng-disabled="true" ng-true-value="'Yes'" ng-model="member.SingleParent" aria-label="Checkbox 1">
        Single parent family/household
      </md-checkbox>
      <md-checkbox class="md-body-2" ng-disabled="true" ng-true-value="'Yes'" ng-model="member.HispanicLatino" aria-label="Checkbox 1">
        Hispanic or Latino
      </md-checkbox>
    </div>

    <div layout="row">
      <div class="md-body-2" layout-margin layout-padding flex="50">
        Race: <strong>{{ member.Race }}</strong>
      </div>
      <div class="md-body-2" layout-margin layout-padding flex="50">
        Household Income: <strong>{{ member.Income }}</strong>
      </div>
    </div>

    <div layout="row">
      <div class="md-body-2" layout-margin layout-padding flex="100">
        Describe the impact GNFP has on your family.<br />
        <strong>{{ member.ImpactOnFamily }}</strong>
      </div>
    </div>

    <div layout="row">
      <md-checkbox class="md-body-2" ng-disabled="true" ng-true-value="'Yes'" ng-model="member.GiveTestimony" aria-label="Checkbox 1">
        Would you be willing to give testimony to the importance of the GNFP to families/the community?
      </md-checkbox>
    </div>
    <md-divider></md-divider>
    <h2 class="md-display-1">Member Stats: {{ total_hours }} hours, {{ total_food }} days of food</h2>
    <div ng-repeat="row in memberhours">
      <div layout="row">
        <div class="md-body-1" layout-margin layout-padding flex="20">{{ row.Hours }} hrs</div>
        <div class="md-body-1" layout-margin layout-padding flex="20">{{ row.FoodAmount }} days of food</div>
        <div class="md-body-1" layout-margin layout-padding flex="20">Added {{ row.DateAdded | date:'MMM d, yyyy' }}</div>
      </div>
      <md-divider></md-divider>
    </div>
  </md-content>
</div>
