<div ng-include="'views/templates/menu.html'"></div>
  <div flex layout="row">
    <md-content flex="20" class="md-primary md-hue-3" hide-xs style="text-align: center;">
      <img src="images/members.png" />
    </md-content>
    <md-content flex="80" layout-padding layout-margin>

      <!-- Member List -->
      <div ng-show="!showform">
        <div layout="row" layout-margin>
          <h2 class="md-display-1">Members</h2>
          <span flex class="flex"></span>
          <md-button class="md-raised md-primary" ng-click="showform = ! showform">
            <md-icon>add</md-icon>
            <span>New Member</span>
          </md-button>
        </div>

        <div ng-repeat="row in members">
          <div layout="row">
            <div class="md-body-1" layout-margin layout-padding flex="20">{{ row.FirstName }} {{ row.LastName }}</div>
            <div class="md-body-1" layout-margin layout-padding flex="20">{{ row.Email }}</div>
            <div class="md-body-1" layout-margin layout-padding flex="20">Added {{ row.DateAdded | date:'MMM d, yyyy' }}</div>
            <div flex="30" layout="row">
              <md-button md-no-ink class="md-primary" ng-href="#/members-view/{{ row.id }}">View</md-button>
              <md-button md-no-ink class="md-primary" ng-click="edit(row)">Edit</md-button>
              <md-button md-no-ink class="md-warn" ng-click="delete(row.id)">Delete</md-button>
            </div>
          </div>
          <md-divider></md-divider>
        </div>
      </div>

      <!-- End Admins List : Begin Admins Form -->

      <div ng-show="showform">
        <h1 class="md-display-1">{{ pagetitle }}</h1>

        <div layout="column">
          <div layout="row">
            <md-input-container flex="40" class="md-block">
              <label class="md-title">First Name</label>
              <input required class="md-title" name="firstname" type="text" ng-model="member.FirstName" />
            </md-input-container>
            <span flex="10"></span>
            <md-input-container flex="40" class="md-block">
              <label class="md-title">Last Name</label>
              <input required class="md-title" name="lastname" type="text" ng-model="member.LastName" />
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex="40" class="md-block">
              <label class="md-title">Email Address</label>
              <input required class="md-title" name="email" type="text" ng-model="member.Email" />
            </md-input-container>
            <span flex="10"></span>
            <md-input-container flex="40" class="md-block">
              <label class="md-title">City of Residence</label>
              <input required class="md-title" name="city" type="text" ng-model="member.City" />
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex="20" class="md-block">
              <label class="md-title"># of Adults</label>
              <input required class="md-title" name="numberadults" type="text" ng-model="member.NumberAdults" />
            </md-input-container>
            <span flex="10"></span>
            <md-input-container flex="20" class="md-block">
              <label class="md-title"># of Children</label>
              <input class="md-title" name="numberchildren" type="text" ng-model="member.NumberChildren" />
            </md-input-container>
            <span flex="10"></span>
            <md-input-container flex="20" class="md-block">
              <label class="md-title"># of Others</label>
              <input class="md-title" name="numberothers" type="text" ng-model="member.NumberOthers" />
            </md-input-container>
          </div>
          <div layout="row">
            <md-checkbox class="md-title" ng-true-value="'Yes'" ng-model="member.Disability" aria-label="Checkbox 1">
              Disability in family/household
            </md-checkbox>
            <md-checkbox class="md-title" ng-true-value="'Yes'" ng-model="member.SingleParent" aria-label="Checkbox 1">
              Single parent family/household
            </md-checkbox>
            <md-checkbox class="md-title" ng-true-value="'Yes'" ng-model="member.HispanicLatino" aria-label="Checkbox 1">
              Hispanic or Latino
            </md-checkbox>
          </div>
          <div layout="row">
            <md-input-container flex="40" class="md-block">
              <md-select class="md-title" ng-model="member.Race">
                <md-option value="0" selected>Race</md-option>
                <md-option value="American Indian, or Alaskan Native">American Indian, or Alaskan Native</md-option>
                <md-option value="Asian">Asian</md-option>
                <md-option value="Black, African, or African-American">Black, African, or African-American</md-option>
                <md-option value="Native Hawaiian, or Pacific Islander">Native Hawaiian, or Pacific Islander</md-option>
                <md-option value="White, or Caucasian">White, or Caucasian</md-option>
                <md-option value="Other">Other</md-option>
              </md-select>
            </md-input-container>
            <span flex="10"></span>
            <md-input-container flex="40" class="md-block">
              <md-select class="md-title" ng-model="member.Income">
                <md-option value="0" selected>Household Income</md-option>
                <md-option value="Under 22,050">Under $22,050</md-option>
                <md-option value="22,051 to 36,750">$22,051 to $36,750</md-option>
                <md-option value="36,751-44,100">$36,751-$44,100</md-option>
                <md-option value="44,101-58,799">$44,101-$58,799</md-option>
                <md-option value="Over 58,800">Over $58,800</md-option>
              </md-select>
            </md-input-container>
          </div>
          <md-input-container flex="90" class="md-block">
            <label class="md-title">Describe the impact GNFP has on your family.</label>
            <textarea class="md-title" ng-model="member.ImpactOnFamily"></textarea>
          </md-input-container>

          <md-checkbox class="md-title" ng-true-value="'Yes'" ng-model="member.GiveTestimony" aria-label="Checkbox 1">
            Would you be willing to give testimony to the importance of the GNFP to families/the community?
          </md-checkbox>
        </div>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised" ng-click="reset()">Cancel</md-button>
          <md-button class="md-raised md-primary" ng-click="save()">Save Member</md-button>
        </div>
      </div>

      <!-- End Admins Form -->
    </md-content>

  </div>
