<div ng-include="'views/templates/menu.html'"></div>
  <div flex layout="row">
    <md-content flex="20" class="md-primary md-hue-3" hide-xs style="text-align: center;">
      <img src="images/reports.png" />
    </md-content>
    <md-content flex="80" layout-padding layout-margin>

      <!-- Admins List -->
      <div ng-show="!showform">
        <div layout="row" layout-margin>
          <h2 class="md-display-1">Reports</h2>
          <span flex class="flex"></span>
        </div>
      </div>

    </md-content>
  </div>
