<md-toolbar layout="row" layout-align="space-between center">
  <!--The left side-->
  <span><h2 class="logo md-toolbar-tools">GN Family Pantry Log</h2></span>
  <!--The right side-->
  <span>
    <md-button ng-href="#/members" aria-label="Members">Members</md-button>
    <md-button ng-href="#/admins" aria-label="Admins">Administrators</md-button>
    <md-button ng-href="#/logentry" aria-label="Log Entry">Log Entry</md-button>
    <md-button ng-href="#/reports" aria-label="Reports">Reports</md-button>
    <md-button ng-href="#/login" aria-label="Logout">Logout</md-button>
  </span>
</md-toolbar>
